{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Account Activated" %}{% endblock %}

{% block page_content %}
<div class="four wide column">
    <h3 class="ui top attached header">{% trans "Account Activated" %}</h3>
    <div class="ui attached segment">
        <p>{% trans "Your account is now activated." %}</p>
        <div class="center aligned">
            <div class="ui primary right labeled icon button" style="cursor: pointer;" onclick="window.location='{% url 'auth_login' %}';">
                <i class="sign in icon"></i>
                {% trans "Log In" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

