{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Account Activated" %}{% endblock %}

{% block page_content %}
<div class="six wide column">
    <div class="ui top attached message">
        <h3 class="header">{% trans "Account Activated" %}</h3>
    </div>
    <div class="ui bottom attached segment">
        <p>{% trans "You may now log in to your account." %}</p>
        <div class="center aligned">
            <div class="ui primary right labeled icon button" style="cursor: pointer;" onclick="window.location='{% url 'auth_login' %}';">
                <i class="sign in icon"></i>
                {% trans "Log In" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

