{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block page_content %}
<div class="column">
    <h3 class="ui top attached header">Login</h3>
    <div class="ui attached segment">
        <div class="ui two column middle aligned relaxed fitted stackable grid">
            <div class="column">
                {% if form.non_field_errors %}
                <div class="ui compact error message">
                    <div class="header">{% trans "Login Failed" %}</div>
                    <p>{{ form.non_field_errors }}</p>
                </div>
                {% endif %}
                <div class="ui fluid form">
                    <form method="post" action=".">
                        {% csrf_token %}
                        {% include "form_field.html" with field=form.username %}
                        {% include "form_field.html" with field=form.password %}
                        <div class="ui hidden divider"></div>
                        <button class="ui primary right labeled icon button" type="submit">
                            <i class="sign in icon"></i>
                            {% trans "Log In" %}
                        </button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
            <div class="center aligned column">
                <div class="ui green right labeled icon button" style="cursor: pointer;"
                        onclick="window.location='{% url 'registration_register' %}';">
                    <i class="signup icon"></i>
                    {% trans "Sign Up" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

