{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_content %}
<div class="six wide column">
    <div class="ui top attached message">
        <h3 class="header">{% trans "Password Reset" %}</h3>
        <p>
            {% blocktrans %}
            Forgot your password? Enter your email in the form below and 
            we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>
    </div>
    <div class="ui bottom attached segment">
        {% include "form_errors.html" %}
        <div class="ui fluid form">
            <form method="post" action=".">
                {% csrf_token %}
                {% include "form_field.html" with field=form.email %}
                <div class="ui hidden divider"></div>
                <button class="ui primary button" type="submit">
                    {% trans "Reset Password" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

