{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password Reset Confirmation" %}{% endblock %}

{% block page_content %}
<div class="six wide column">
    <div class="ui top attached message">
        <h3 class="header">{% trans "Password Reset Confirmation" %}</h3>
        <p>{% trans "Enter your new password below." %}</p>
    </div>
    <div class="ui bottom attached segment">
        {% include "form_errors.html" %}
        <div class="ui fluid form">
            <form method="post" action=".">
                {% csrf_token %}
                {% include "form_field.html" with field=form.new_password1 %}
                {% include "form_field.html" with field=form.new_password2 %}
                <div class="ui hidden divider"></div>
                <button class="ui primary button" type="submit">
                    {% trans "Set Password" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

