{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block page_content %}
<div class="six wide column">
    <div class="ui message">
        <h3 class="header">
            {% trans "Password Reset Complete" %}
        </h3>
        <p>
            {% blocktrans %}
            {% trans "Your password has been reset!" %}
            {% trans "You may now" %}<a href="{% url 'auth_login' %}">{% trans "log in" %}</a>.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}

