{% load i18n %}
{% load navigation %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>{% block page_title %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}ui/semantic.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}base.css">
    {% endcompress %}
    {% compress js %}
    <script src="{{ STATIC_URL }}ui/semantic.min.js"></script>
    {% endcompress %}
</head>

<body>
    <div id="umami-wrapper">
        {% block page_menu %}
        {% include "menu.html" %}
        {% endblock %}
        <main id="umami-content" class="ui page grid">
            {% block page_content %}{% endblock %}
        </main>
        <div id="umami-footer">
            {% block page_footer %}
            {% include "footer.html" %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
